setuptools
wheel
twine
numpy
wandb
scikit-learn
black
jinja2
pandas
pytest
flake8==4
tables
pyproject-flake8
imblearn
matplotlib
pyelftools==0.24
prettytable==0.7.2
configparser
argcomplete
requests
six