/* Salva gli input, da scegliere con define */
#ifndef __INPUT_H__
#define __INPUT_H__

{% for idx in range(data.input_samples|length) %}
{% if idx==0 %}
#if defined(INPUT{{ idx }})
{% else %}
#elif defined(INPUT{{ idx }})
{% endif %}
PI_CL_L1 feature_dtype INPUT[N_FEATURES]={
    {{ data.input_samples[idx] }}
};
{% endfor %}
#endif
#ifdef DEBUGGING
logit_dtype GOLDEN_CUMSUM[N_ESTIMATORS][N_CLASSES]={
    {{ data.golden }}
};
#endif
#endif //__INPUT_H__